<title>TinyApp</title>
<% if (useremail) { %>
  <h5>logged in as: <%= useremail %></h5>
  <form method="POST" action="/logout">
    <button>logout</button>
  </form>
<% } else { %>
  <% if (formType === 'register') { %>
    <a href="/login">login</a>
  <% } else { %>
    <% if (formType === 'login') { %>
      <a href="/register">register</a>
    <% } else { %>
      <a href="/login">login</a>
      <span> OR </span>
      <a href="/register">register</a>
    <% } %>
  <% } %>
<% } %>