<title>TinyApp</title>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="purple">
      tiny</span>App</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills nav-right">
        <% if (useremail) { %>
          <li role="presentation" class="active">
            <form method="POST" action="/logout" >
              <button class="navig-link top-nav">logout</button>
            </form>
          </li>
          <li role="presentation" class="navig-link-reverse top-nav">
            <a href="/urls"><div>my links</div></a>
          </li>
          <li role="presentation" class="navbar-text">
            <p><em>logged in as <%= useremail %></em></p>
          </li>
        <% } else { %>
          <% if (formType === 'register') { %>
            <li role="presentation" class="navig-link-reverse top-nav">
              <a href="/login"><div>login</div></a>
            </li>
          <% } else { %>
            <% if (formType === 'login') { %>
              <li role="presentation" class="navig-link-reverse top-nav">
                <a href="/register"><div>register</div></a>
              </li>
            <% } else { %>
              <li role="presentation" class="navig-link top-nav">
                <a href="/login"><div>login</div></a>
              </li>
              <li role="presentation" class="navig-link-reverse top-nav">
                <a href="/register"><div>register</div></a>
              </li>
            <% } %>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
