<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <%- include partials/_style.ejs %>
</head>
<body>
    <%- include partials/_header.ejs %>
    <br>
    <h1><%= err_mesg %></h1>
    <hr>
    <br>