<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
</head>
<body>
    <%- include partials/_header.ejs %>

    <h1>Hello there, <%= formType %> here</h1>
    <form method="POST" action="/<%= formType %>">
        <label for="email"></label>
        <input type="email" name="email" placeholder="email here..">
        <label for="password"></label>
        <input type="password" name="password">
        <button><%= formType %></button>
    </form>
    <a href="/urls">Go to Index</a>
</body>
</html>