<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset='utf-8'>
  <%- include partials/_style.ejs %>
  </head>
  <body>
    <% include partials/_header %>
    <br>
    <h1>Welcome, shorten new links</h1>
    <hr>
    <br>
    <div class="row">
      <div>
        <form action="/urls" method="POST" class="input-group">
          <input id="longURL" type="text" name="longURL" class="form-control" placeholder="http://...">
          <input name="useremail" value="<%= useremail %>" hidden>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">shorten</button>
          </span>
        </form><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    <br>
    <hr>
    <a href="/urls"><div class="navig-link">my links</div></a>
  </body>
</html>